:host ::ng-deep .mat-form-field{ 
    width: 100%;
} 
:host ::ng-deep .mat-dialog-content{ 
    max-height: 80vh;
} 
::ng-deep .mat-dialog-container {
    width: 500px !important;
    height: 84% !important;
}