<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxShow="true" fxHide.lt-md>
        <span class="listItem" [routerLink]="['/home']" mat-list-item>Home</span>
      </div>
      <div fxShow="true" fxHide.lt-md style="padding-left: 30px;">
        <a routerLink="/add-new" routerLinkActive="active-list-item">AddNewPatient</a>
      </div>
      <div fxShow="true" fxHide.lt-md style="padding-left: 30px;">
        <span class="listItem" [routerLink]="['/list']">PatientsList</span>
      </div>
    <span class="menu-spacer"></span>
    <mat-icon>person_add</mat-icon> 
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a class="listItem" [routerLink]="['/home']" mat-list-item>Home</a>
        <a class="listItem" [routerLink]="['/list']" mat-list-item>Patients List</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill fxLayout="column" class="sidenavContent">
        <form  fxFlex="100" [formGroup]="basic">
            <app-form [basicFormGroup]="basic.get('addForm')"></app-form>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>
