:host ::ng-deep .mat-drawer-inner-container{ 
    width: 40vh !important;
    background-color: #364594;
    border: none;
} 
 
.sidenavContent {
    background: rgb(0 0 0 / 87%);
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content{ 
    padding: 0px 25px;
}

.listItem {
    color: #ffffff;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.menu-spacer {
    flex: 1 1 auto;
}

:host ::ng-deep .material-icons {
    font-size: 30px;
}

.active-list-item {
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #02040e;
}


